body {
  margin: 20px;
  font: 10pt Arial, sans-serif;
}

.axis path, .axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.area {
  fill: steelblue;
}

article, aside, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}
